src/bag
scripts/weights
scripts/detection_result
scripts/__pycache__
scripts/data_coco/__pycache__
scripts/layers_coco/__pycache__
scripts/layers_coco/functions/__pycache__
scripts/layers_coco/modules/__pycache__
scripts/utils_coco/__pycache__
scripts/data_custom/__pycache__
scripts/layers_custom/__pycache__
scripts/layers_custom/functions/__pycache__
scripts/layers_custom/modules/__pycache__
scripts/utils_custom/__pycache__
scripts/data/__pycache__
scripts/layers/__pycache__
scripts/layers/functions/__pycache__
scripts/layers/modules/__pycache__
scripts/utils/__pycache__
scripts/*.mp4
